<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Calendrier</title>
</head>
<body>
<h1>Calendrier</h1>
<h2>Utilisateur</h2>
<span>Nom d'utilisateur</span>
<span>Nombre de points</span>
<a href="/connexion">Déconnexion</a>

<table id="tableau-calendrier">
    <tr>
        <th>Date</th>
        <th>Gif</th>
        <th>Utilisateur</th>
        <th>Réaction</th>
    </tr>
    <tr>
        <td>Date</td>
        <td>Exemple de Gif</td>
        <td>Nom auteur</td>
        <td>Réactions + nom</td>
    </tr>
    <tr>
        <td>Date</td>
        <td>Exemple vide
            <a href="/placer-gif">Placer un Gif</a>
            <a href="/televerser-gif">Téléverser un Gif</a>
        </td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Date</td>
        <td>Exemple vide
            <a href="/placer-gif">Placer un Gif</a>
            <a href="/televerser-gif">Téléverser un Gif</a>
        </td>
        <td></td>
        <td></td>
    </tr>
</table>



</body>